<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Root</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./index.css" />
    <!-- In the head -->
    <link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/patterns.esri.com/files/calcite-web/1.0.1/css/calcite-web.min.css">

</head>
<body>
    <header class="top-nav fade-in">
        <div class="grid-container">
            <div class="column-24">
                <div class="tablet-hide">
                    
                    <a href="#" class="top-nav-title">Esri Romania User Conference 2018 - Developers Track</a>
                </div>
    
                <div class="tablet-show top-nav-flex">
                    
                    <header class="top-nav-flex-title">
                        <a href="/" class="top-nav-link">Esri Romania User Conference 2018 - Developers Track</a>
                    </header>
                </div>
            </div>
        </div>
    </header>

    <div class="grid-container apps">
        <div class="block-group block-group-3-up tablet-block-group-2-up phone-block-group-1-up">
            
            <div class="card block trailer-1">
                <figure class="card-image-wrap">
                    <img class="card-image" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/12195953_10153457217077284_8897804646176995856_n.png?_nc_cat=0&oh=6f6e4db3c151daf5d86a4d154c02f477&oe=5C11D201">
                </figure>
                <div class="card-content">
                    <h4>
                        <a href="#">Aplicatie JS</a>
                    </h4>
                    <p class="font-size--1 card-last">Aplicatie creata folosind HTML, CSS & JS.</p>
                    <a href="/app2/" target="_blank" class="btn btn-fill leader-1">Vizualizare</a>
                </div>
            </div>

            <div class="card block trailer-1">
                <figure class="card-image-wrap">
                    <img class="card-image" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/12195953_10153457217077284_8897804646176995856_n.png?_nc_cat=0&oh=6f6e4db3c151daf5d86a4d154c02f477&oe=5C11D201">
                </figure>
                <div class="card-content">
                    <h4>
                        <a href="#">Aplicatie TS</a>
                    </h4>
                    <p class="font-size--1 card-last">Aplicatie creata folosind TypeScript</p>
                    <a href="/app3/" target="_blank" class="btn btn-fill leader-1">Vizualizare</a>
                </div>
            </div>

            <div class="card block trailer-1">
                <figure class="card-image-wrap">
                <img class="card-image" src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/12195953_10153457217077284_8897804646176995856_n.png?_nc_cat=0&oh=6f6e4db3c151daf5d86a4d154c02f477&oe=5C11D201">
                </figure>
                <div class="card-content">
                    <h4>
                        <a href="#">Aplicatie TSX</a>
                    </h4>
                    <p class="font-size--1 card-last">Aplicatie creata folosind TypeScript & ReactJS</p>
                    <a href="/app4/" target="_blank" class="btn btn-fill leader-1">Vizualizare</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer leader-3" id="footer">
        <div class="grid-container">
            <nav class="column-8">
                <h6 class="font-size-5">
                    <strong>#geodev</strong>
                </h6>
    
                <p class="leader-1 font-size--2">
                    <strong>Follow Me</strong>
                    </span>
                </p>
                <section class="footer-social-nav">
                    <a class="icon-social-twitter" href="https://twitter.com/ialixandroae" target="_blank"></a>
                    <a class="icon-social-github" href="https://github.com/ialixandroae" target="_blank"></a>
                    <a class="icon-social-linkedin" href="https://www.linkedin.com/in/ialixandroae/" target="_blank"></a>
                </section>
            </nav>
    
            <nav class="column-4 leader-1">
                <h6 class="font-size--5">
                    <strong>Project resources
                    </strong>
                </h6>
                <ul class="list-plain font-size--2">
                    <li>
                        <a class="link-off-black" href="https://nodejs.org/en/" target="_blank">NodeJS</a>
                    </li>
                    <li>
                        <a class="link-off-black" href="https://expressjs.com/" target="_blank">ExpressJS</a>
                    </li>
                    <li>
                        <a class="link-off-black" href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>
                    </li>
                    <li>
                        <a class="link-off-black" href="https://reactjs.org/" target="_blank">ReactJS</a>
                    </li>
                    <li>
                        <a class="link-off-black" href="https://developers.arcgis.com/javascript/" target="_blank">ArcGIS API for JavaScript</a>
                    </li>
                    <li>
                        <a class="link-off-black" href="http://esri.github.io/calcite-web/" target="_blank">Calcite Web</a>
                    </li>
                    <li>
                        <a class="link-off-black" href="#" target="_blank">Project on GitHub</a>
                    </li>
                </ul>
            </nav>
        </div>
        <hr>
    </footer>
    <!-- Just before end of body -->
    <script src="https://s3-us-west-1.amazonaws.com/patterns.esri.com/files/calcite-web/1.0.1/js/calcite-web.min.js"></script>
    <script>
        calcite.init()
    </script>
    <script id="__bs_script__">//<![CDATA[
        document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.js?v=2.24.6'><\/script>".replace("HOST", location.hostname));
        //]]></script>
</body>
</html>